.term {
    font-size: 24px;
    line-height: 1.2;
    color: var(--text-secondary-color);
    margin-bottom: var(--space-sm);
}

.lowTerm {
    font-size: 18px;
    line-height: 1.2;
    color: var(--text-secondary-color);
}

.strong {
    font-family: Ninito, sans-serif;
    text-transform: capitalize;
    font-weight: 1000 !important;
    margin-right: 5px;
    color: var(--text-primary-color);
}